.nav {
  width: 100%;
  padding: 15px;
  display: flex;
  box-shadow: -1px 3px 4px -3px rgba(9, 29, 52,1);
  color: $color-black-pearl;
  background-color: white;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;

  &__menu {
    margin-right: 10px;
  }

  &__phone {
    position: absolute;
    right: 0;
    bottom: -25px;
    padding: 5px 10px;
    background-color: $color-blue-zodiac;
    a {
      text-decoration: none;
      color: white;
    }
  }
}