-
  const images = [
    `${baseUrl}asset/image/masina2.jpg`,
    `${baseUrl}asset/image/masina3.jpg`,
  ]
#gallery
.gallery
  h1 Gallery
  .line_wrapper
    hr
  .gallery_images
    each image in images
      img(src=`${image}`)
  