#header
.header
  img.header_img(src='../../asset/image/home-hero-image.jpg', alt="Header image")
  .header_inner
    div
      i Great custom vehicle painting and smart repair services.
    .header_button
      a Get a quote
    