$icomoon-font-family: "em" !default;
$icomoon-font-path: "asset/font" !default; // path ul asta trebe schimbat

$icon_home: "\e900";
$icon_pencil2: "\e906";
$icon_phone: "\e942";
$icon_address-book: "\e944";
$icon_pushpin: "\e946";
$icon_cross: "\ea0f";
$icon_facebook: "\ea91";
$icon_whatsapp: "\ea93";
$icon_twitter: "\ea96";
$icon_youtube: "\ea9e";
$icon_linkedin: "\eac9";

