#contact
.contact 
  h1 Contact us
  .line_wrapper
    hr
  .contact_button
    .icon_phone
      a(href="+44-7522-868930") Call us
  div 07522 868930
  h1 Address
  .contact_button
    .get_directions
      a(href="https://www.google.com/maps/dir//P1+Garage+%26+Custom+Bodyworks/data=!4m8!4m7!1m0!1m5!1m1!1s0x48765197bf5d8aad:0xfa78ba01153bc28b!2m2!1d-0.65191!2d51.9073658") Get directions
  div Unit 10 Collec Depot Billington Road
  div Leighton Buzzard
  div LU7 9HH
  div United Kingdom
  h1 Business hours
  .contact_table
    table
      tbody
        tr
          th Mon:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Tue:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Wed:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Thu:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Fri:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Sat:
          td
            span 8:00 AM - 6:00 PM
        tr
          th Sun:
          td
            span Closed
    